{% extends 'base.html.twig' %}

{% block title "Homepage" %}

{% block body %}

      
        <header class="mt-5 mb-3 text-center" style="background: transparent;">

            <h1 class="font-italic" style="background: rgba(243,235,224,0.6);">Recettes</h1>

            <p>
                Lorem ipsum
            </p>
        </header>

        <div class="container">

            <div class="row flex my-5">

                {% for recette in recettes %}

                    <div class="col-3 my-5">

                        <div class="card">
                            <div class="card-body bg-light">
                                <h3 class="card-title text-center">
                                    <a href="{{ path('recettes.show', {id: recette.id, slug:recette.slug}) }}" class="text-success font-italic">{{ recette.title }}</a>
                                </h3>
                                
                                <div class="font-italic mb-3"><em>({{ recette.type.nom }})</em></div>

                                <div>
                                    {% for image in recette.images %}

                                        <div class="my-3">
                                            <img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image de la recette" width="200" style="border-radius: 5px;">
                                        </div>

                                    {% endfor %}
                                </div>

                                <p class="card-text">{{ recette.description }}</p>
                                <div class="text-primary font-italic">{{ recette.time }}</div>
                                <div class="text-info font-italic"></em>{{ recette.personnes }} personnes</em></div>
                            </div>



                            <div class="my-2 text-center">
                                <button class="btn btn-info"><a href="{{ path('recettes.show', {id: recette.id, slug:recette.slug}) }}" class="text-white font-italic">Voir la recette</a></button>
                            </div>    
                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>


{% endblock %}