{% extends "base.html.twig" %}

{% block title %}
    Editer 
{% endblock %}

{% block body %}

    <div class="container m-auto">

        <h1 class="text-center my-5">Modifier les recettes</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>

            {% for message in app.flashes('success') %}

                <div class="alert alert-success">{{ message }}</div>

            {% endfor %}

            <div class="text-right my-5 py-5">
                <a class="btn btn-primary" href="{{ path('admin.recettes.new') }}">Ajouter une recette</a>
            </div>
    
            {% for recette in recettes %}
                <tr>
                    <td>{{ recette.title }}</td>
                    <td>
                        <a href="{{ path('admin.recettes.edit', {id:recette.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.recettes.delete', {id: recette.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer la recette ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
                            <button class="btn btn-danger" style="margin-left: 90%;">Supprimer</button>
                        </form>

                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}